<main>

	<h1>Clientes <%= link_to("Añadir cliente", new_cliente_path, :class => 'action new btn btn-outline-success btn-small') %></h1>
	
	<table class="table table-striped" style="margin-top: 10px;">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Nombre empresa</th>
	      
	      <th scope="col">Direccion</th>
	      <th scope="col">Telefono</th>
	      <th scope="col">Email</th>
	      <th scope="col">Comuna</th>
	      <th scope="col"></th>
	    </tr>
	  </thead>
	  <tbody>
	  	<% @clientes.each do |cliente| %>
	    <tr>
	      <th scope="row"><%= cliente.id %></th>
	      <td><%= cliente.nombre %></td>
	      <td><%= cliente.apellido_paterno %></td>
	      <td><%= cliente.apellido_materno %></td>
	      <td><%= cliente.direccion %></td>
	      <td><%= cliente.telefono %></td>
	      <td><%= cliente.email %></td>
	      <td><%= cliente.comuna.try(:nombre) %></td>
	      <td>
	    		<%= link_to("ver / editar", edit_cliente_path(cliente), :class => 'btn btn-outline-primary btn-sm') %>
	    		<%= link_to("eliminar", delete_cliente_path(cliente), :class => 'btn btn-outline-danger btn-sm') %>
	    	</td>
	    </tr>
	    <% end %>
	  </tbody>
	</table>

</main>