<main>
	<h1>Articulos <%= link_to("Añadir artículo", new_article_path, :class => 'action new btn btn-outline-success btn-small') %></h1>
	 
	<hr>
	<div class="row">
		<div class="col-md-6">
			<label>Filtrar por Proveedor</label>
			<%= form_tag(articles_path, method: :get) do %>
			<div class="form-row">
   				<div class="col-md-9 mb-9">
			  		<%= select_tag "supplier", options_from_collection_for_select(@suppliers, "id", "nombre"), :class => 'form-control' %>
			  	</div>
			  	<div class="col-md-3 mb-3">
			  		<%= submit_tag "Filtrar", :class => 'btn btn-small btn-outline-primary btn-block' %>
			  	</div>
			</div>
			<% end %>
		</div>	
		<div class="col-md-6">
			<label>Modificar valores en porcentaje</label>
			<%= form_tag(articles_path, method: :get) do %>
			<div class="form-row">
				<div class="col-md-4">
					<%= select_tag "supplier", options_from_collection_for_select(@suppliers, "id", "nombre"), :class => 'form-control' %>
				</div>
				<div class="col-md-1 mb-1">
					<%= select_tag "operator", options_for_select([ "+", "-" ], "+") %>
				</div>
   				<div class="col-md-4 mb-4">
			  		<%= text_field_tag :term,  nil, placeholder: 'Porcentaje', :class => 'form-control' %>
			  	</div>
			  	<div class="col-md-3 mb-3">
			  		<%= submit_tag "Porcentaje", :class => 'btn btn-small btn-outline-warning btn-block'%>
			  	</div>

			<% end %>
		</div>	
		<div class="col-md-4">
			
		</div>	
	</div>
	
	<table class="table table-striped" style="margin-top: 10px;">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Descripción</th>
	      <th scope="col">Precio</th>
	      <th scope="col">Nombre</th>
	      <th scope="col"></th>
	    </tr>
	  </thead>
	  <tbody>
	  	<% @articles.each do |article| %>
	    <tr>
	      <th scope="row"><%= article.id %></th>
	       <td><%= article.descripcion %><br>
	       	<%= link_to("editar", edit_article_path(article), :class => 'btn btn-outline-warning btn-sm') %>
	       </td>
	      	<td><%= article.precio %></td>
	     	<td><%= article.nombre %></td>
	     	<td>
	    		<%= link_to("ver / editar", edit_article_path(article), :class => 'btn btn-outline-primary btn-sm') %>
	    		<%= link_to("eliminar", delete_article_path(article), :class => 'btn btn-outline-danger btn-sm') %>
	    	</td>
	    </tr>
	    <% end %>
	  </tbody>
	</table>

</main>