<!DOCTYPE html>
<html>
	<head>
		<title>PDF</title>
		<meta charset='utf-8' />
   		<%= stylesheet_link_tag wicked_pdf_asset_base64("pdf") %>
	</head>
	<body>
		<table class="header">
			<tr>
				<td width="50%">
					Factura Proforma
				</td>
				<td width="50%" class="logo">
					<%= wicked_pdf_image_tag(@supplier.image_url) %>
				</td>
			</tr>
		</table>
		
		<table class="meta">
			<tr>
				<td width="50%">
					<h3>FRIUL TRADE</h3>
					Dirección Capitán Orella #2304 Ñuñoa
					<table class="times">
						<tr>
							<td>Ciudad</td>
							<td>Santiago</td>
						</tr>
						<tr>
							<td>Teléfono</td>
							<td>(56 2) 343 0423</td>
						</tr>
						<tr>
							<td>Fax</td>
							<td>(56 2) 341 3254</td>
						</tr>
						<tr>
							<td>Email</td>
							<td>fte@friultradechile.cl</td>
						</tr>
					</table>

					<h4 style="margin-top: 30px;">Datos del cliente</h4>
					
					<table class="cliente">
						<tr>
							<td>Nombre</td>
							<td class="data">
								<%= @cliente.nombre %>
								<%= @cliente.apellido_paterno %>
							</td>
						</tr>
						<tr>
							<td>Dirección</td>
							<td class="data"><%= @cliente.direccion %></td>
						</tr>
						<tr>
							<td>Ciudad-País</td>
							<td class="data"><%= @cliente.comuna.nombre %></td>
						</tr>
						
					</table>
					 
				</td>
				<td width="50%"">

					<table style="margin-top: 50px;">
						<tr>
							<td class="blue">Código</td>
							<td><%= @proforma.codigo %></td>
						</tr>
						<tr>
							<td class="blue">Fecha de emisión</td>
							<td><%= @proforma.created_at %></td>
						</tr>
						<tr>
							<td class="blue">Plazo de entrega</td>
							<td>35 días desp de aprobación</td>
						</tr>
					</table>

					<h4 style="margin-top: 60px;">Datos del proveedor</h4>

					<table class="proveedor">
						<tr>
							<td>Nombre</td>
							<td class="data">
								<%= @supplier.nombre %>
							</td>
						</tr>
						<tr>
							<td>Dirección</td>
							<td class="data"><%= @supplier.direccion %></td>
						</tr>
						<tr>
							<td>Ciudad-País</td>
							<td class="data"><%= @supplier.comuna.nombre %></td>
						</tr>
						
					</table>
				</td>
			</tr>
		</table>

		<hr>
		
		<table class="articles">
			<tr style="border-bottom: 1px solid #000">
				<td width="70%" class="data">Nombre</td>
				<td width="15%" class="data" style="text-align: center;">Cantidad</td>
				<td width="15%" class="data" style="text-align: center;">P.Unitario</td>
				<td width="15%" class="data" style="text-align: center;">Subtotal</td>
			</tr>
			<% @subtotals = [] #aray para sumar subtotales %>
			<% @proforma_articles.each do |article| %>
			<tr>
				<td><%= article.nombre %></td>
				<% 
				@article_proforma = article.article_proformas.find_by(article_id: article.id) %>
				<td style="text-align: center;"><%= @article_proforma.quantity %></td>
				<td style="text-align: center;"><%= article.precio %></td>
				<td style="text-align: center;"><%= @article_proforma.subtotal %></td>
				<% @subtotals << @article_proforma.subtotal %>
			</tr>
			<% end %>
			<tr>
				<td></td>
				<td></td>
				<td style="text-align: center;" class="data">Total</td>
				<td style="text-align: center;"><%= @subtotals.sum %></td>
			</tr>
		</table>
		
	</body>
</html>
