<!DOCTYPE html>
<html>
	<head>
		<title>PDF</title>
		<meta charset='utf-8' />
   		<%= stylesheet_link_tag wicked_pdf_asset_base64("pdf") %>
	</head>
	<body>
		<table class="header">
			<tr>
				<td width="50%">
					<%= wicked_pdf_image_tag("logo_small.png") %>
				</td>
				<td width="50%" class="logo">
					<%= wicked_pdf_image_tag(@supplier.image_url) %>
				</td>
			</tr>
		</table>
		
		<table class="meta">
			<tr>
				<td width="50%">
					<h3>FRIUL TRADE</h3>
					Dirección Capitán Orella #2304 Ñuñoa
					<table class="times">
						<tr>
							<td>Ciudad</td>
							<td>Santiago</td>
						</tr>
						<tr>
							<td>Teléfono</td>
							<td>(56 2) 343 0423</td>
						</tr>
						<tr>
							<td>Fax</td>
							<td>(56 2) 341 3254</td>
						</tr>
						<tr>
							<td>Email</td>
							<td>fte@friultradechile.cl</td>
						</tr>
					</table>

					<h4 style="margin-top: 30px;">Datos del cliente</h4>
					
					<table class="cliente">
						<tr>
							<td>Nombre</td>
							<td class="data">
								<%= @cliente.nombre %>
								<%= @cliente.apellido_paterno %>
							</td>
						</tr>
						<tr>
							<td>Dirección</td>
							<td class="data"><%= @cliente.direccion %></td>
						</tr>
						<tr>
							<td>Ciudad-País</td>
							<td class="data"><%= @cliente.ubicacion %></td>
						</tr>
						
					</table>
					 
				</td>
				<td width="50%"">

					<table style="margin-top: 50px;">
						<tr>
							<td class="blue">Código</td>
							<td><%= @proforma.codigo %></td>
						</tr>
						<tr>
							<td class="blue">Fecha de emisión</td>
							<td><%= @proforma.created_at %></td>
						</tr>
						<tr>
							<td class="blue">Condición de pago</td>
							<td><%= @proforma.condicion_pago %></td>
						</tr>
						<tr>
							<td class="blue">Plazo de entrega</td>
							<td><%= @proforma.plazo_entrega %></td>
						</tr>
					</table>

					<h4 style="margin-top: 60px;">Datos del proveedor</h4>

					<table class="proveedor">
						<tr>
							<td>Nombre</td>
							<td class="data">
								<%= @supplier.nombre %>
							</td>
						</tr>
						<tr>
							<td>Dirección</td>
							<td class="data"><%= @supplier.direccion %></td>
						</tr>
						<tr>
							<td>Ciudad-País</td>
							<td class="data"><%= @supplier.ubicacion %></td>
						</tr>
						
					</table>
				</td>
			</tr>
		</table>

		<hr>
		
		<table class="articles">

			<tr style="border-bottom: 1px solid #000">
				<td width="70%" class="data">Nombre</td>
				<td width="15%" class="data" style="text-align: center;">Cantidad</td>
				<td width="15%" class="data" style="text-align: center;">P.Unitario</td>
				<td width="15%" class="data" style="text-align: center;">Subtotal</td>
			</tr>
			<% subtotals = [] #aray para sumar subtotales %>
			<% @articles_proforma.each do |articleProforma| %>
			<tr>
				<td><%= articleProforma.article.nombre %></td>
				<td style="text-align: center;"><%= articleProforma.quantity %></td>
				<td style="text-align: center;"><%= number_to_currency(articleProforma.article.precio) %></td>
				<td style="text-align: center;"><%= number_to_currency(articleProforma.subtotal) %></td>
				<% subtotals << articleProforma.subtotal %>
			</tr>
			<% end %> 
			
		</table>
		
		<table class="shipping">
			<tr>
				<td width="50%">
					<h4>Datos Comerciales</h4>
					<table class="shipping">
						<tr>
							<td class="header blue">Peso Bruto</td>
							<td><%= @proforma.peso_bruto %> KGS. APROX.</td>
						</tr>
						<tr>
							<td class="header blue">Peso Neto</td>
							<td><%= @proforma.peso_neto %> KGS. APROX.</td>
						</tr>
						<tr>
							<td class="header blue">Volumen</td>
							<td><%= @proforma.volumen %> M3. APROX.</td>
						</tr>
						<tr>
							<td class="header blue">Embalaje</td>
							<td><%= @proforma.embalaje %> PALLETS</td>
						</tr>
						<tr>
							<td class="header blue">Observacion</td>
							<td><%= @proforma.observacion %></td>
						</tr>
					</table>
					
				</td>
				<td width="50%" class="logo">
					<table border="1">
						<tr>
							<td class="blue" style="text-align: center;" class="data">Total</td>
							<td></td>
							<td style="text-align: center;"><%= number_to_currency(subtotals.sum) %></td>
						</tr>
						<tr>
							<td class="blue" style="text-align: center;" class="data">Flete</td>
							<td class="blue" style="text-align: center;"><%= @proforma.tipo_flete %></td>
							<td style="text-align: center;"><%= @proforma.flete %></td>
						</tr>
						<tr>
							<td class="blue" style="text-align: center;" class="data">Total</td>
							<td class="blue" style="text-align: center;">CFR</td>
							<td style="text-align: center;"><%= number_to_currency(subtotals.sum + @proforma.flete) %></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<hr>
		<table class="shipping">
			<tr>
				<td width="50%">
					<h4>Datos Bancarios</h4>
					<table class="shipping">
						<tr>
							<td class="header blue">Banco</td>
							<td><%= @supplier.banco_nombre %></td>
						</tr>
						<tr>
							<td class="header blue">Dirección</td>
							<td><%= @supplier.banco_direccion %></td>
						</tr>
					</table>
					
				</td>
				<td width="50%">
					<table class="shipping" style="margin-top: 30px;">
						<tr>
							<td class="header blue">IBAN</td>
							<td><%= @supplier.banco_iban %></td>
							<td class="header blue">SWIFT</td>
							<td><%= @supplier.banco_swift %></td>
						</tr>
						<tr>
							<td class="header blue">ABI</td>
							<td><%= @supplier.banco_abi %></td>
							<td class="header blue">CAB</td>
							<td><%= @supplier.banco_cab %></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<table class="final-values">
			<tr>
				<td width="50%">........................................................<br>
					<p>APROBADO POR</p></td>
				<td width="50%">........................................................<br>
					<p>FECHA</p></td>
			</tr>
		</table>
	</body>
</html>
