<main>

	<h1>Proformas <%= link_to("Añadir proforma", new_proforma_path, :class => 'action new btn btn-outline-success btn-small') %></h1>
	
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Cliente</th>
	      <th scope="col">Proveedor</th>
	      <th scope="col">Fecha</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<% @proformas.each do |proforma| %>
	    <tr>
	      	<th scope="row"><%= proforma.id %></th>
	      	<td><%= proforma.cliente.try(:nombre) %></td>
	      	<td><%= proforma.supplier.try(:nombre) %></td>
	      	<td><%= proforma.created_at %></td>
	      	<td>
	      		<%= link_to("pdf", proforma_path(proforma,:format => :pdf), :class => 'btn btn-outline-warning btn-sm') %>
	      		<%= link_to("añadir artículos", proforma_path(proforma), :class => 'btn btn-outline-success btn-sm') %>
	    		<%= link_to("editar proforma", edit_proforma_path(proforma), :class => 'btn btn-outline-primary btn-sm') %>
	    		<%= link_to("eliminar", delete_proforma_path(proforma), :class => 'btn btn-outline-danger btn-sm') %>
	    	</td>
	    </tr>
	    <% end %>
	  </tbody>
	</table>

</main>