<main class="proforma">
	<h1>Proforma #<%= @proforma.id %></h1>
	<hr>
	<h3>Información proforma</h3>
	
	<div class="new-proforma-container">

		<div class="row">

			<div class="col-md-6">

				<div class="data-container supplier-data-container">

					<div class="form-row">

						<div class="form-group col-md-6">
							<label for="nombre">Nombre</label>
							<%= text_field( :cliente, :nombre, :value => @cliente.nombre, class: 'form-control', :readonly => true)%>
						</div><!-- /form-group -->

						<div class="form-group col-md-6">
							<label for="nombre">Apellidos</label>
							<%= text_field( :cliente, :apellido, :value => @cliente.apellido_paterno, class: 'form-control', :readonly => true)%>
						</div><!-- /form-group -->

						<div class="form-group col-md-12">
							<label for="nombre">Dirección</label>
						  	<%= text_field( :cliente, :direccion, :value => + @cliente.direccion, class: 'form-control', :readonly => true)%>
						</div><!-- /form-group -->

					</div><!-- /form-row -->

				</div><!-- /client-data-container -->

			</div><!-- /col-md-6 -->

			<div class="col-md-6">

				<div class="data-container supplier-data-container">
			
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="nombre">Nombre</label>
							<%= text_field( :supplier, :nombre, :value => @supplier.nombre, class: 'form-control', :readonly => true)%>
						</div><!-- /form-group -->
						<div class="form-group col-md-6">
							<label for="nombre">Teléfono</label>
							<%= text_field( :supplier, :nombre, :value => @supplier.telefono, class: 'form-control', :readonly => true)%>
						</div><!-- /form-group -->
						<div class="form-group col-md-12">
							<label for="nombre">Dirección</label>
							<%= text_field( :supplier, :direccion, :value => @supplier.direccion, class: 'form-control', :readonly => true)%>
						</div><!-- /form-group -->

					</div><!-- /form-row -->

				</div><!-- /supplier-data-containr -->
					
			</div><!-- /col-md-6 -->

		</div><!-- /row -->
		
	</div><!-- /new-proforma-container -->

	<div class="row">

		<% if @articles_proforma %>

		<div class="col-md-12">

			<hr>

			<h3>Artículos añadidos</h3>

			<hr>

			<table class="table table-bordered">
				<thead>
				    <tr>
				      <th scope="col">Artículo</th>
				      <th scope="col">Valor unitario</th>
				      <th scope="col">Cantidad</th>
				      <th scope="col">Subtotal</th>
				      <th scope="col"></th>
				    </tr>
				</thead>
				<tbody>
					<% @articles_proforma.each do |article| %>
					<tr>
	      				<th scope="row">
	      					<%= text_field( :articles_proforma, :nombre, :value => article.article.nombre, class: 'form-control', :readonly => true)%>
	      				</th>
	      				<th scope="row">
	      					<%= text_field( :articles_proforma, :nombre, :value => number_to_currency(article.article.precio), class: 'form-control', :readonly => true)%>
	      				</th>
	      				<th scope="row">
	      					<%= text_field( :articles_proforma, :nombre, :value => article.quantity, class: 'form-control', :readonly => true)%>
	      				</th>
	      				<th scope="row">
	      					<%= text_field( :articles_proforma, :subtotal, :value => number_to_currency(article.subtotal), class: 'form-control', :readonly => true)%>
	      				</th>
	      				<th scope="row">
	      					<%= link_to("Quitar", delete_article_proforma_path(article), :class => 'btn btn-outline-danger btn-sm') %>
	      				</th>
	      			</tr>
					<% end %>
				</tbody>
			</table>
			
		</div><!-- /col-md-12 -->
		<% end %>

		<div class="col-md-12">
			
			<hr>
			<h3>Añadir artículo</h3>
			<hr>

			<%= form_for(@articleproforma) do |f| %>

			<%= f.hidden_field :proforma_id, :value => @proforma.id %>

			<table class="table" style="margin-top: 10px;">
			  <thead>
			    <tr>
			      <th scope="col">#</th>
			      <th width="80%" scope="col">Artículo</th>
			      <th  width="20%" scope="col">Cantidad</th>
			      
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      	<th scope="row">1</th>
			      	<td width="50%">
			      		<%= f.collection_select :article_id, @allArticles, :id, :nombre, {}, {:class => 'form-control'} %>
					</td>
			      	<td width="20%">
			      		<div class="form-row">
							<div class="form-group col-md-12">
								<%= f.text_field(:quantity, id: 'qty', class: 'input-number', value: 1, min: 0, max: 1000, type: 'number', style: 'width:100%') %>
								
							</div>
							
						</div>
			      	</td>
			      	
			    </tr>

			  </tbody>

			</table>

			<hr>

			<%= f.submit "Añadir Artículo", class: "btn btn-success" %>
			
			<% end %>

		</div><!-- /col-md-12 -->
	</div><!-- /row -->

</main>