<div class="form-row">
	<div class="form-group col-md-12">
	  <label for="email">Descripción</label>
	  <%= f.text_area(:descripcion, class: 'form-control') %>
	</div>
</div><!-- /form-row -->
<div class="form-row">
	<div class="form-group col-md-12">
	  <label for="nombre">Nombre</label>
	  <%= f.text_field(:nombre, class: 'form-control') %>
	</div>
</div><!-- /form-row -->
<div class="form-row">
	<div class="form-group col-md-6">
	  <label for="telefono">Comuna</label>
	  <%= f.text_field(:ubicacion, class: 'form-control') %>
	</div>
	<div class="form-group col-md-6">
	  <label for="apellido_paterno">Dirección</label>
	  <%= f.text_field(:direccion, class: 'form-control') %>
	</div>
</div><!-- /form-row -->
<div class="form-row">
	<div class="form-group col-md-6">
	  <label for="apellido_materno">Teléfono</label>
	  <%= f.text_field(:telefono, class: 'form-control') %>
	</div>
	<div class="form-group col-md-6">
	  <label for="direccion">Email</label>
	  <%= f.text_field(:email, class: 'form-control') %>
	</div>
</div><!-- /form-row -->
<div class="form-row">
	<div class="form-group col-md-12">
	  <label for="telefono">Logo</label>
	  <%= f.file_field(:image, class: 'form-control') %>
	</div>
</div><!-- /form-row -->
<hr>