<main>

	<h1>Proveedores <%= link_to("Añadir proveedor", new_supplier_path, :class => 'action new btn btn-outline-success btn-small') %></h1>
	
	
	<table class="table table-striped" style="margin-top: 10px;">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Nombre</th>
	      <th scope="col">Comuna</th>
	      <th scope="col">Teléfono</th>
	      <th scope="col">Email</th>
	      <th scope="col">Logo</th>
	      <th scope="col">Acción</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<% @suppliers.each do |proveedor| %>
	    <tr>
			<th scope="row"><%= proveedor.id %></th>
			<td><%= proveedor.nombre %><br>
			<td><%= proveedor.comuna.try(:nombre) %></td>
			<td><%= proveedor.telefono %></td>
			<td><%= proveedor.email %></td>
			<td><%= image_tag proveedor.image.url(:table) %></td>
	    	<td>
	    		<%= link_to("ver / editar", edit_supplier_path(proveedor), :class => 'btn btn-outline-primary btn-sm') %>
	    		<%= link_to("eliminar", delete_supplier_path(proveedor), :class => 'btn btn-outline-danger btn-sm') %>
	    	</td>
	    </tr>
	    <% end %>
	  </tbody>
	</table>

</main>